<!doctype html>
<html>

<head>
    <style>
    #map {
        width: 800px;
        height: 640px;
    }
    </style>
</head>

<script src="/static/bus-map.js">
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&signed_in=true&callback=initMap"></script>
<body>
    <div id="map"></div>
    <button id='save'> Save </button>
    <p id='output'> </p>
</body>
</html>