<!doctype html>
<html>
<body>

	<select name="test">
	{% for line in lines_json %}
		<option value="{{line['id']}}">{{line['display_name']}}</option>
	{% endfor %}
	</select>

	<button name="choose_line">
		Submit
	</button>

	<script type="text/javascript">
	var button = document.querySelector("button");
	button.addEventListener("mousedown", function() {
		var choice = document.querySelector("select");
		window.location = "/" + choice.value;
	});
	</script>

</body>
</html>