<!doctype html>
<html>

<head>
	<style>
  	#map {
    	width: 500px;
    	height: 400px;
  	}
	</style>
</head>

<script>
	var stops_json = {{stops_json|tojson}};
	var seq_json = {{seq_json|tojson}};
  var line_num = {{line_num}};
</script>

<script src="/static/bus-map.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&signed_in=true&callback=initMap"></script>
<body>
    <div id="map"></div>
</body>
</html>